<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>User detail - <%= userDetail.firstName %>
      <%= userDetail.lastName %>
  </title>

  <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
  <![endif]-->

  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <link rel="stylesheet" href="/css/font-awesome.min.css">

  <link rel="stylesheet" href="/css/linearicons-free.css">

  <link rel="stylesheet" href="/css/animate.css">

  <link rel="stylesheet" href="/vendor/flexslider/flexslider.css">

  <link rel="stylesheet" href="/vendor/owlcarousel/owl.carousel.css">

  <link rel="stylesheet" href="/vendor/fancybox/css/fancybox.css">
  <link rel="stylesheet" href="/css/custom.css">
  <link rel="stylesheet" href="/css/global.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/kindergarten.css">
</head>

<body>

  <div class="breadcrumb-section">
    <div class="container">
      <div class="row">
        <header class="entry-header">
          <h1 class="entry-title">
            Thông tin chi tiết
          </h1>
        </header>
      </div>
    </div>
  </div>
  <div class="breadcrumb-detail-page">
    <div class="container">

    </div>
  </div>
  <div class="page-spacer co-detail-page clearfix">
    <div id="primary">
      <div class="container">
        <div class="row">
          <main id="main" class="site-main col-xs-12 col-sm-8 left-block">
            <div class="courses-info">
              <img src="/images/use_img/avatar.jpg" width="150" height="150" />
              <h1>
                <%= userDetail.firstName %>
                  <%= userDetail.lastName %>
              </h1>
              <b>Tên đăng nhập</b>
              <p class="excerpt">
                <%= userDetail.username %>
              </p>
              <b>Email</b>
              <p class="excerpt"><a style="color: #0583e4;" target="_blank"
                  href="https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&source=mailto&to=<%= userDetail.email %>">
                  <%= userDetail.email %>
                </a></p>
              <b>Số điện thoại</b>
              <p class="excerpt">
                <%= userDetail.phone %>
              </p>
              <b>Nơi sống</b>
              <p class="excerpt">
                <%= userDetail.address %>
              </p>
            </div>
            <div class="courses-info">
              <h3>Giới thiệu</h3>
              <p>Chuyến phiêu lưu của đời là học hỏi. Mục đích của đời là trưởng thành. Bản tính của đời là thay đổi.
                Thách thức của đời là vượt qua. Tinh túy của đời là quan tâm. Cơ hội của đời là phụng sự. Bí mật của đời
                là dám làm. Hương vị của đời là giúp đỡ. Vẻ đẹp của đời là cho đi.</p>
            </div>

          </main>

          <div id="secondary" class="widget-area col-xs-12 col-sm-4 left-block" role="complementary">
            <div class="co-join-info">
              <div class="btns">
                <a class="btn btn-orange btn-medium" data-animation="animated zoomInUp" href='/users'>Về lại trang chủ
                </a>
              </div>
            </div>
            <aside class="widget widget_courses">
              <h3 class="widget-title">Danh sách lớp đang học</h3>
              <ul>
                <% for (var prop in classesList ) { %>
                  <li class="clearfix">
                    <img src="/images/use_img/course_img2.png" alt="">
                    <div class="simi-co">
                      <h5><a href="/classes/class-detail/<%= classesList[prop].classCode %>">
                          <%= classesList[prop].className %>
                        </a></h5>
                    </div>
                  </li>
                  <% } %>
              </ul>
            </aside>
          </div>

        </div>
      </div>
    </div>
  </div>

  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>

  <script src="/js/theme.js"></script>

  <script type="text/javascript" src="/vendor/fancybox/js/jquery.fancybox.js"></script>
  <script type="text/javascript" src="/vendor/fancybox/js/custom.fancybox.js"></script>
  <script>
    jQuery.noConflict();
    jQuery('.fancybox').fancybox();
  </script>
</body>

<!--classes-details23:38  -->

</html>