<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>EducationPress - The Most Complete Education Solution</title>

    <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="/images/favicon.png" />

    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/font-awesome.min.css">

    <link rel="stylesheet" href="/css/linearicons-free.css">

    <link rel="stylesheet" href="/css/animate.css">

    <link rel="stylesheet" href="/vendor/flexslider/flexslider.css">

    <link rel="stylesheet" href="/vendor/owlcarousel/owl.carousel.css">

    <link rel="stylesheet" href="/vendor/fancybox/css/fancybox.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/kindergarten.css">
</head>

<body>
    <div class="page-spacer clearfix">
        <div id="primary" class="content-area">
            <div class="container">
                <div class="row">
                    <main id="main" class="site-main col-xs-12">
                        <div class="col-xs-12 col-sm-10 register-form form clearfix">
                            <h3>Bài tập</h3>
                            <form action="#" class="student-settings" method="post" enctype="multipart/form-data">
                                <p><input placeholder="Tiêu đề" name="titleExercise" value="<%=exercise.title%>"
                                        type="text"></p>
                                <p>
                                    <label></label>
                                    <textarea placeholder="Hướng dẫn (nếu có)" name="message" id="message"
                                        style="margin: 0px; width: 918px; height: 155px;"><%=exercise.description%></textarea>
                                </p>
                                <p>
                                    <input type="file" id="myFile" name="file" />
                                    <a href="<%=exercise.file%>">
                                        <%=exercise.file%>
                                    </a>
                                </p>

                                <div class="multiselect">
                                    <div class="selectBox" onclick="showCheckboxes()">
                                        <select>
                                            <option>Select an members</option>
                                        </select>
                                        <div class="overSelect"></div>
                                    </div>

                                    <div id="checkboxes">
                                        <input type="checkbox" name="selected[]" value="all" id="checkall"> Chọn tất cả
                                        <br>

                                        <% for (var prop in classDetail.classStudents ) { %>
                                            <% if (exercise.studentAssigned.indexOf(classDetail.classStudents[prop])
                                                !=-1) { %>
                                                <input type="checkbox" name="selected[]"
                                                    value="<%= classDetail.classStudents[prop] %>" checked="true">
                                                <%= classDetail.classStudents[prop] %> <br>
                                                    <% } else { %>
                                                        <input type="checkbox" name="selected[]"
                                                            value="<%= classDetail.classStudents[prop] %>">
                                                        <%= classDetail.classStudents[prop] %> <br>
                                                            <% } %>
                                                                <% } %>

                                    </div>

                                    <p>
                                        <br><label for="deadline"> Ngày nộp: </label>
                                        <input type="datetime-local" id="birthdaytime" name="deadline"
                                            value="<%=exercise.deadline%>">
                                    </p>
                                    <p id="demo"></p>
                                </div>

                                <input name="submit" class="btn btn-default pull-right" value="Lưu chỉnh sửa"
                                    type="submit">
                                <a class="btn btn-default btn-medium pull-right"
                                    href="/classes/class-detail/<%=classDetail.classCode%>/courses"> Đóng </a>
                            </form>
                        </div>
                    </main>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    var expanded = false;

    function showCheckboxes() {
        var checkboxes = document.getElementById("checkboxes");
        if (!expanded) {
            checkboxes.style.display = "block";
            expanded = true;
        } else {
            checkboxes.style.display = "none";
            expanded = false;
        }

    }
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var checkboxes = document.getElementsByName("selected[]");
        var students = exercise.studentAssigned;
        document.getElementById("demo").innerHTML = students.length;
    });       
</script>
<script language="javascript">

    document.getElementById("checkall").onclick = function () {
        // Lấy danh sách checkbox
        var checkboxes = document.getElementsByName("selected[]");
        if (this.checked) {
            // Lặp và thiết lập checked
            for (var i = 1; i < checkboxes.length; i++) {
                checkboxes[i].checked = true;
            }
        }
        if (!this.checked) {
            // Lặp và thiết lập unchecked
            for (var i = 1; i < checkboxes.length; i++) {
                checkboxes[i].checked = false;
            }
        }
    };

</script>

<!--login23:54  -->

</html>