<body>

  <div class="breadcrumb-section">
    <div class="container">
      <div class="row">
        <header class="entry-header">
          <h1 class="entry-title">
            <%= classDetail.className %>
          </h1>
          <h4 class="entry-title" style="padding:0px 20px;"> Mã lớp: <span id="classCode">
              <%= classDetail.classCode %>
            </span>
          </h4>
        </header>
      </div>
    </div>
  </div>


  <div class="breadcrumb-detail-page">
    <div class="container">
      <div class="row">
        <p><a href="/">HOME</a><i class="fa fa-angle-right"></i><a href="/classes">ALL
            Classes</a><i class="fa fa-angle-right"></i>
          <%= classDetail.className %>

        </p>
        <ul class="nav nav-tabs">
          <li><a href="/classes/class-detail/<%=classDetail.classCode%>"> Home </a></li>
          <li><a href="/classes/class-detail/<%=classDetail.classCode%>/courses"> Bài tập </a></li>
          <li class="active"><a href="/classes/class-detail/<%=classDetail.classCode%>/people"> Thành viên </a></li>
        </ul>
        <!-- <button id="button" type=button>A đến Z</button>
        <button class="button1" type=button>Z đến A</button> -->
        <aside class="widget widget_courses">


          <div>
            <h3 class="widget-title">Giảng viên</h3>
            <!-- Trigger the modal with a button -->
            <% if (isAuthenticated) { %>
              <% if (classDetail.classTeachers.indexOf(username) !=-1) { %>
                <button type="button" id="btnAddTeachers" class="btn btn-danger btn-sm" data-toggle="modal"
                  data-target="#myModal1">
                  Thêm giảng viên</button>
                <% } } %>

          </div><br>

          <!-- Modal -->
          <div class="modal fade" id="myModal1" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h5>Thêm giảng viên</h5>

                </div>
                <div class="modal-body">
                  <div class="md-form active-cyan-2 mb-3">
                    <input type="text" placeholder="Search.." id="myInput2"
                      onkeyup="filterFunction('myInput2','myDropdown2')" onclick="myFunction('myDropdown2')">
                    <div id="myDropdown2" class="dropdown-content scrollStudent">
                    </div>
                  </div>
                </div>
                <div class=" modal-footer">
                  <button type="button" id="btnAddTeacher" class="btn btn-default" data-dismiss="modal">Thêm</button>
                </div>
              </div>
            </div>
          </div>

          <ul class="sortby" id="listTeachers">
            <% for (var prop in classDetail.classTeachers ) { %>
              <li class="clearfix">
                <div class="course-thumbnail">
                  <img src="/images/use_img/avatar.jpg" class="course-media-img" alt="">

                </div>
                <div class="simi-co">
                  <h3><a href="/users/user-detail/<%= classDetail.classTeachers[prop] %>">
                      <%= classDetail.classTeachers[prop] %>
                    </a>
                  </h3>
                  </p>
                </div>
              </li>
              <% } %>
          </ul>


          <div>
            <h3 class="widget-title">Học viên</h3>
            <% if (isAuthenticated) { %>
              <% if (classDetail.classTeachers.indexOf(username) !=-1) { %>
                <!-- Trigger the modal with a button -->
                <button type="button" id="btnAddStudents" class="btn btn-danger btn-sm" data-toggle="modal"
                  data-target="#myModal2">
                  Thêm học viên </button>
                <% } } %>

          </div> <br>

          <!-- Modal -->
          <div class="modal fade" id="myModal2" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h5>Thêm học viên</h5>

                </div>
                <div class="modal-body">
                  <div class="md-form active-cyan-2 mb-3">
                    <input type="text" placeholder="Search.." id="myInput"
                      onkeyup="filterFunction('myInput','myDropdown')" onclick="myFunction('myDropdown')">
                    <div id="myDropdown" class="dropdown-content scrollStudent">
                    </div>
                  </div>
                </div>
                <div class=" modal-footer">
                  <button type="button" id="btnAddStudent" class="btn btn-default" data-dismiss="modal">Thêm</button>
                </div>
              </div>
            </div>
          </div>

          <ul class="sortby" id="listStudents">
            <% for (var prop in classDetail.classStudents ) { %>
              <li class="clearfix" id="student">
                <div class="course-thumbnail">
                  <img src="/images/use_img/avatar.jpg" class="course-media-img" alt="">
                </div>
                <div class="simi-co">
                  <h3><a href="/users/user-detail/<%= classDetail.classStudents[prop] %>">
                      <%= classDetail.classStudents[prop] %>
                    </a>
                  </h3>
                  </p>
                </div>
              </li>
              <% } %>
          </ul>

        </aside>

      </div>
    </div>

  </div>

  </div>
  <section class="call-to-action">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="col-xs-12 col-sm-8">
            <h3>Remaining essentially unchanged.</h3>
            <p>When an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          </div>
          <a href="classes-details.html#" class="btn btn-medium btn-default pull-right">Know More <i
              class="lnr lnr-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </section>



  <div id="login-form" style="display:none;">
    <div class="row">
      <h3>Login</h3>
      <p>Please Login to Create a New Course</p>
      <form id="login" action="classes-details.html#">
        <input name="email" type="text" placeholder="Email or Username">
        <input name="password" type="text" placeholder="Password">
        <div class="row remeber">
          <label><input name="rember" type="checkbox" value=""> Remember Me</label>
          <a href="classes-details.html#">Forgot Password?</a>
        </div>
        <div class="text-center button">
          <input name="Login" type="button" value="Login Now">
        </div>
      </form>
    </div>
  </div>

  <div id="register-form" style="display:none;">
    <div class="row">
      <h3>Register</h3>
      <p>Please Register to Create a New Account</p>
      <form id="register" action="classes-details.html#">
        <input name="name" type="text" placeholder="Name">
        <input name="username" type="text" placeholder="Username">
        <input name="email" type="text" placeholder="Email">
        <input name="password" type="text" placeholder="Password">
        <input name="confirmpassword" type="text" placeholder="Confirm Password">
        <div class="row new-login">
          Already have an account? <a href="classes-details.html#">Login to your account! </a>
        </div>
        <div class="text-center button">
          <input name="create-account" type="button" value="Create an Account">
        </div>
      </form>
    </div>
  </div>

</body>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<script src="/js/theme.js"></script>
<script src="/js/ajax.test.js"></script>

<script>
  /* When the user clicks on the button,
  toggle between hiding and showing the dropdown content */
  function myFunction(myDropdown) {
    document.getElementById(myDropdown).classList.toggle("show");
  }

  function filterFunction(myInput, myDropdown) {
    var input, filter, ul, li, a, i;
    input = document.getElementById(myInput);
    filter = input.value.toUpperCase();
    div = document.getElementById(myDropdown);
    a = div.getElementsByTagName("a");
    for (i = 0; i < a.length; i++) {
      txtValue = a[i].textContent || a[i].innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        a[i].style.display = "";
      } else {
        a[i].style.display = "none";
      }
    }
  }
</script>

<script>

    // $('button').click(function () {
    //   var x = document.getElementById('button');
    //   $(".sortby li").sort(asc_sort).appendTo('.sortby');
    //   // Sắp xếp theo thứ tự tăng dần
    //   function asc_sort(a, b) {
    //     if (x.innerHTML === 'A đến Z') {

    //       return ($(a).text()) > ($(b).text()) ? 1 : -1;
    //     }
    //   }
    // });
    // $('.button1').click(function () {
    //   $(".sortby li").sort(asc_sort).appendTo('.sortby');
    //   // Sắp xếp theo thứ tự tăng dần
    //   function asc_sort(a, b) {

    //     return ($(a).text()) < ($(b).text()) ? 1 : -1;
    //   }
    // });
</script>

<!--classes-details23:38  -->

</html>