<html lang="en">


<meta charset="utf-8" />

<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css" />

<head>
  <style>
    .pb-cmnt-textarea {
      padding: 20px;
      height: 130px;
      width: 100%;
      border: 2px solid #F2F2F2;
    }
  </style>

  <style type="text/css">
    input[type=submit] {
      background-color: #337ab7;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
  </style>
</head>

<script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>


<script>
  var flag = true;
  function commentform() {
    var cform = "<form action='#'style='padding-left: 50px' method='post'>"
      + "<br><textarea placeholder='Viết bình luận vào đây!' class='pb-cmnt-textarea' name='comment'></textarea><br>"
      + "&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&emsp;&emsp;"
      + "<input onclick='commentform()'class='reply' type='submit' value='Hủy'/>"
      + "&emsp;"
      + "<input type='submit' value='Đăng'/>"
      + "</form>";
    if (flag) {
      document.getElementById("mylocation").innerHTML = cform;
      flag = false;
    } else {
      document.getElementById("mylocation").innerHTML = "";
      flag = true;
    }
  }
</script>


<body>


  <div class="breadcrumb-section">
    <div class="container">
      <div class="row">
        <header class="entry-header">
          <h1 class="entry-title">
            <%= classDetail.className %>
          </h1>
          <h4 class="entry-title" style="padding:0px 20px;"> Mã lớp: <span id="classCode">
              <%= classDetail.classCode %>
            </span>
          </h4>
        </header>
      </div>
    </div>
  </div>

  <div class="breadcrumb-detail-page">
    <div class="container">
      <div class="row">
        <p><a href="/">HOME</a><i class="fa fa-angle-right"></i><a href="/classes">ALL
            Classes</a><i class="fa fa-angle-right"></i>
          <%= classDetail.className %>
        </p>
        <ul class="nav nav-tabs">
          <li class="active"><a href="/classes/class-detail/<%=classDetail.classCode%>"> Home </a></li>
          <% if (isAuthenticated) { %>
            <li><a href="/classes/class-detail/<%=classDetail.classCode%>/courses"> Bài tập </a></li>
            <li><a href="/classes/class-detail/<%=classDetail.classCode%>/people"> Thành viên </a></li>
            <% } %>
        </ul>

        <div id="tab1" class="tab-pane fade in active">

          <section class="our-features">
            <% if (isAuthenticated) { %>
              <div onclick="commentform()" class="reply">
                <p class="btn btn-orange btn-medium" style="font-weight: bold;	">(+) Thêm nội dung nào đó cho lớp học
                  của bạn &emsp;</p>
              </div>
              <div id="mylocation"></div>
              <% } %>

                <div class="comments-area" id="comments">
                  <h2 class="comments-title"> <span>
                      (<%=listComments.length%>)
                    </span> Comments </h2>
                  <ol class="comment-list">

                    <% for (var prop in listComments ) { %>
                      <li class="comment even thread-even">
                        <article class="comment-body">
                          <div class="author-photo"> <a href="blog-details.html" class="avatar"> <img class="avatar"
                                src="images/use_img/post_author.jpg" alt=""></a> </div> <br>
                          <h4 class="fn">&emsp; <%=listComments[prop].user%>
                          </h4>
                          <div class="comment-metadata">
                            <h4>
                              <%=listComments[prop].text%>
                            </h4>
                          </div>
                          <div class="comment-metadata">
                            <span>
                              <%=listComments[prop].createDate%>
                            </span>
                          </div>
                          <div>
                            <span>
                              <form>
                                <textarea placeholder='Để lại bình luận của bạn tại đây ' class=''
                                  name='comment'></textarea>
                                <input class="btn btn-default pull-right" type="submit" value="Gửi"> <br>
                              </form>
                            </span>
                          </div>
                        </article>
                      </li> <br>
                      <% } %>
                  </ol>
                </div>
          </section>
        </div>

      </div>

      </p>
    </div>
  </div>
  </div>


  <section class="call-to-action">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="col-xs-12 col-sm-8">
            <h3>Remaining essentially unchanged.</h3>
            <p>When an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          </div>
          <a href="classes-details.html#" class="btn btn-medium btn-default pull-right">Know More <i
              class="lnr lnr-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </section>



  <div id="login-form" style="display:none;">
    <div class="row">
      <h3>Login</h3>
      <p>Please Login to Create a New Course</p>
      <form id="login" action="classes-details.html#">
        <input name="email" type="text" placeholder="Email or Username">
        <input name="password" type="text" placeholder="Password">
        <div class="row remeber">
          <label><input name="rember" type="checkbox" value=""> Remember Me</label>
          <a href="classes-details.html#">Forgot Password?</a>
        </div>
        <div class="text-center button">
          <input name="Login" type="button" value="Login Now">
        </div>
      </form>
    </div>
  </div>

  <div id="register-form" style="display:none;">
    <div class="row">
      <h3>Register</h3>
      <p>Please Register to Create a New Account</p>
      <form id="register" action="classes-details.html#">
        <input name="name" type="text" placeholder="Name">
        <input name="username" type="text" placeholder="Username">
        <input name="email" type="text" placeholder="Email">
        <input name="password" type="text" placeholder="Password">
        <input name="confirmpassword" type="text" placeholder="Confirm Password">
        <div class="row new-login">
          Already have an account? <a href="classes-details.html#">Login to your account! </a>
        </div>
        <div class="text-center button">
          <input name="create-account" type="button" value="Create an Account">
        </div>
      </form>
    </div>
  </div>

  <button id="testBtn" value="test"></button>
  <p id="test">i'm test</p>

  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>

  <script src="/js/theme.js"></script>

  <script type="text/javascript" src="/vendor/fancybox/js/jquery.fancybox.js"></script>
  <script type="text/javascript" src="/vendor/fancybox/js/custom.fancybox.js"></script>
  <script>
    jQuery.noConflict();
    jQuery('.fancybox').fancybox();
  </script>

  <script>
    /* When the user clicks on the button, 
    toggle between hiding and showing the dropdown content */
    function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
    }
    // Close the dropdown if the user clicks outside of it
    window.onclick = function (event) {
      if (!event.target.matches("#buttonAddExercise")) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }
  </script>

  <script type="text/javascript" src="/js/ajax.test.js"></script>
</body>

</html>