<title>
  <%= classDetail.className %> | Bài tập
</title>

<body>

  <div class="breadcrumb-section">
    <div class="container">
      <div class="row">
        <header class="entry-header">
          <h1 class="entry-title">
            <%= classDetail.className %>
          </h1>
          <h4 class="entry-title" style="padding:0px 20px;"> Mã lớp: <span id="classCode">
              <%= classDetail.classCode %>
            </span>
          </h4>
        </header>
      </div>
    </div>
  </div>

  <div class="breadcrumb-detail-page">
    <div class="container">
      <div class="row">
        <p><a href="/">HOME</a><i class="fa fa-angle-right"></i><a href="/classes">ALL
            Classes</a><i class="fa fa-angle-right"></i>
          <%= classDetail.className %>
        </p>
        <ul class="nav nav-tabs">
          <li><a href="/classes/class-detail/<%=classDetail.classCode%>"> Home </a></li>
          <div class=""></div>
          <li class="active"><a href="/classes/class-detail/<%=classDetail.classCode%>/courses"> Bài tập </a></li>
          <li><a href="/classes/class-detail/<%=classDetail.classCode%>/submissions"> Bài nộp </a></li>
          <li><a href="/classes/class-detail/<%=classDetail.classCode%>/people"> Thành viên </a></li>
        </ul>

        <div class="tab-content">

          <section class="our-features">
            <div>
              <% if (isAuthenticated) { %>
                <% if (classDetail.classTeachers.indexOf(username) !=-1 || admin) { %>
                  <div class="dropdown">
                    <button id="buttonAddExercise" onclick="myFunction()" class="btn btn-orange btn-medium"> + Tạo
                    </button>
                    <div id="myDropdown" class="dropdown-content">
                      <a href="/classes/class-detail/<%=classDetail.classCode%>/courses/add-exercise">Bài tập</a>
                    </div>
                  </div>
                  <% } } %>
            </div>

            <div class="comments-area" id="comments">
              <h2 class="comments-title"> <span>
                  <%= listExercise.length %>
                </span> Bài tập </h2>

              <% for (var prop in listExercise ) { %>

                <ol class="comment-list">
                  <li class="comment even thread-even">
                    <article class="comment-body">
                      <div class="comment-wrapper">
                        <div class="comment-meta">
                          <div class="comment-author vcard">
                            <h5 class="fn">
                              <%= listExercise[prop].title %>
                            </h5>
                          </div>
                        </div>
                        <div class="comment-content">
                          <%= listExercise[prop].description %>
                        </div>
                        <div class="comment-content">File đính kèm: <a href="<%= listExercise[prop].file %>">
                            <%= listExercise[prop].filename %>
                          </a>
                        </div>
                        <div class="comment-metadata">
                          <span>
                            <input type="datetime-local" id="birthdaytime" name="deadline"
                              value="<%=listExercise[prop].deadline%>" disabled>
                          </span>
                        </div>
                        <div>
                          <% if (isAuthenticated) { %>
                            <% if (classDetail.classTeachers.indexOf(username) !=-1 || admin) { %>
                              <a href="/classes/class-detail/<%=classDetail.classCode%>/courses/<%=listExercise[prop]._id%>"
                                class="comment-reply-link btn btn-default">Chi tiết</a>
                              <a href="/classes/class-detail/<%=classDetail.classCode%>/courses/management/<%=listExercise[prop]._id%>"
                                class="comment-reply-link btn btn-default">Quản lý</a>
                              <% } } %>
                                <a href="/classes/class-detail/<%=classDetail.classCode%>/courses/submit-exercise/<%=listExercise[prop]._id%>"
                                  class="comment-reply-link btn btn-default">Nộp bài</a>
                        </div> <br>
                      </div>
                    </article>
                  </li>
                </ol>
                <% } %>

            </div>
        </div>
        </section>
      </div>
    </div>
  </div>
</body>


<script>
  /* When the user clicks on the button, 
  toggle between hiding and showing the dropdown content */
  function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
  }

  // Close the dropdown if the user clicks outside of it
  window.onclick = function (event) {
    if (!event.target.matches("#buttonAddExercise")) {
      var dropdowns = document.getElementsByClassName("dropdown-content");
      var i;
      for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
          openDropdown.classList.remove('show');
        }
      }
    }
  }
</script>

<!--classes-details23:38  -->

</html>