<!DOCTYPE html>
<html lang="en">
<title>Elearning | Classes</title>


<body class="hold-transition sidebar-mini layout-fixed">
	<div class="wrapper">

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">

			<!-- Content Header (Page header) -->
			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1>Classes</h1>
						</div>
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
								<li class="breadcrumb-item active">Classes</li>
							</ol>
						</div>
					</div>
				</div><!-- /.container-fluid -->
			</section>
			<!-- Main content -->
			<section class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-header">
									<h3 class="card-title">Classes with default features</h3>
								</div>
								<!-- /.card-header -->
								<div class="card-body">
									<table id="example1" class="table table-bordered table-striped">
										<thead>
											<tr>
												<th>Class Code</th>
												<th>Class Name</th>
												<th>No. Students</th>
												<th>Teachers</th>
												<th>Students</th>
												<th>Actions</th>
											</tr>
										</thead>
										<tbody>
											<% for (var prop in classesList ) { %>
												<tr id="<%= classesList[prop].classCode %>">
													<td>
														<a
															href="/classes/class-detail/<%= classesList[prop].classCode %>">
															<%= classesList[prop].classCode %>
														</a>
													</td>
													<td>
														<%= classesList[prop].className %>
													</td>
													<td>
														<%= classesList[prop].numberOfStudent %>
													</td>
													<td>
														<%= classesList[prop].classTeachers %>
													</td>
													<td>
														<% for (var prop_student in classesList[prop].classStudents ) {
															%>
															<a>
																<%= classesList[prop].classStudents[prop_student] %> ;
															</a>
															<% } %>
													</td>
													<td>
														<button type="button" class="btn btn-sm dropdown-toggle"
															data-toggle="dropdown" data-offset="-52"
															aria-expanded="false">
															<i class="fas fa-bars"></i>
														</button>
														<div class="dropdown-menu" role="menu">
															<a href="/classes/class-detail/edit/<%= classesList[prop].classCode %>"
																class="dropdown-item">Edit class</a>
															<a id=''
																onclick="popUpDeleteClass('<%= classesList[prop].classCode %>')"
																class="dropdown-item">Delete class</a>
														</div>
													</td>
												</tr>
												<% } %>
										</tbody>
										<tfoot>
											<tr>
												<th>Class Code</th>
												<th>Class Name</th>
												<th>No. Students</th>
												<th>Teachers</th>
												<th>Students</th>
												<th>Actions</th>
											</tr>
										</tfoot>
									</table>
								</div>
								<!-- /.card-body -->
							</div>
							<!-- /.card -->
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->

				</div>
				<!-- /.container-fluid -->
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->

		<!-- Control Sidebar -->
		<aside class="control-sidebar control-sidebar-dark">
			<!-- Control sidebar content goes here -->
		</aside>
		<!-- /.control-sidebar -->
	</div>
	<!-- ./wrapper -->

	<script>

	</script>

	<!-- jQuery -->
	<script src="/plugins/jquery/jquery.min.js"></script>
	<!-- Bootstrap 4 -->
	<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
	<!-- DataTables  & Plugins -->
	<script src="/plugins/datatables/jquery.dataTables.min.js"></script>
	<script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
	<script src="/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
	<script src="/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
	<script src="/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
	<script src="/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
	<script src="/plugins/jszip/jszip.min.js"></script>
	<script src="/plugins/pdfmake/pdfmake.min.js"></script>
	<script src="/plugins/pdfmake/vfs_fonts.js"></script>
	<script src="/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
	<script src="/plugins/datatables-buttons/js/buttons.print.min.js"></script>
	<script src="/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
	<!-- AdminLTE App -->
	<script src="/js/adminlte.min.js"></script>
	<!-- AdminLTE for demo purposes -->
	<script src="/js/demo.js"></script>
	<!-- Page specific script -->
	<script>
		$(function () {
			$("#example1").DataTable({
				"responsive": true, "lengthChange": false, "autoWidth": false,
				"buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
			}).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
			$('#example2').DataTable({
				"paging": true,
				"lengthChange": false,
				"searching": false,
				"ordering": true,
				"info": true,
				"autoWidth": false,
				"responsive": true,
			});
		});
	</script>
	<script>
		function popUpDeleteClass(classCode) {
			console.log(classCode)
			const data = {
				classCode: classCode
			}
			var r = confirm("Do you want to delete a class ?");
			if (r == true) {
				$.ajax({
					url: "/classes/class-detail/delete/" + classCode,
					method: "DELETE",
					data: data,
					success: (res) => {
						console.log(res)
						document.getElementById(classCode).remove();
					}
				})
			}
		};
	</script>
	<script>
		$('#classesSidebar').addClass('active');
	</script>
</body>

</html>