<html lang="en">

<title>
  <%= classDetail.className %>
</title>

<meta charset="utf-8" />

<meta name="viewport" content="width=device-width, initial-scale=1.0" />


<head>
  <style>
    .pb-cmnt-textarea {
      padding: 20px;
      height: 130px;
      width: 100%;
      border: 2px solid #F2F2F2;
    }
  </style>

  <style type="text/css">
    input[type=submit] {
      background-color: #337ab7;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
  </style>
</head>


<script>
  var flag = true;
  function commentform() {
    var cform = "<form action='#'style='padding-left: 50px' method='post'>"
      + "<br><textarea placeholder='Viết nội dung vào đây!' class='pb-cmnt-textarea' name='comment'></textarea><br>"
      + "&emsp;<input type='submit' class='pull-right' value='Đăng' style='margin-right: 30px;''/> &emsp;"
      + "&emsp;<input onclick='commentform()'class='reply pull-right' type='submit' value='Hủy' style='margin-right: 10px;'/> &emsp;"
      + "&emsp;"
      + "</form>";
    if (flag) {
      document.getElementById("mylocation").innerHTML = cform;
      flag = false;
    } else {
      document.getElementById("mylocation").innerHTML = "";
      flag = true;
    }
  }
</script>


<body>


  <div class="breadcrumb-section">
    <div class="container">
      <div class="row">
        <header class="entry-header">
          <h1 class="entry-title">
            <%= classDetail.className %>
          </h1>
          <h4 class="entry-title" style="padding:0px 20px;"> Mã lớp: <span id="classCode">
              <%= classDetail.classCode %>
            </span>
          </h4>
        </header>
      </div>
    </div>
  </div>

  <div class="breadcrumb-detail-page">
    <div class="container">
      <div class="row">
        <p><a href="/">HOME</a><i class="fa fa-angle-right"></i><a href="/classes">ALL
            Classes</a><i class="fa fa-angle-right"></i>
          <%= classDetail.className %>
        </p>
        <ul class="nav nav-tabs">
          <li class="active"><a href="/classes/class-detail/<%=classDetail.classCode%>"> Home </a></li>
          <% if (isAuthenticated) { %>
            <% if (classDetail.classTeachers.indexOf(username) !=-1 || admin ||
              classDetail.classStudents.indexOf(username) !=-1) { %>
              <li><a href="/classes/class-detail/<%=classDetail.classCode%>/courses"> Bài tập </a></li>
              <li><a href="/classes/class-detail/<%=classDetail.classCode%>/people"> Thành viên </a></li>
              <% } } %>
        </ul>

        <div id="tab1" class="tab-pane fade in active">
          <section class="our-features">
            <div>
              <% if (isAuthenticated) { %>
                <% if ((classDetail.classTeachers.indexOf(username) !=-1 || admin) ||
                  classDetail.classStudents.indexOf(username) !=-1) { %>
                  <div onclick="commentform()" class="reply">
                    <p class="btn btn-orange btn-medium" style="font-weight: bold;	">(+) Thêm nội dung nào đó cho lớp
                      học của bạn &emsp;</p>
                  </div>
                  <div id="mylocation"></div>
                  <% } } %>
            </div>

            <div class="comments-area" id="comments">
              <h2 class="comments-title"> <span>
                  (<%=listComments.length%>)
                </span> Comments </h2>
              <ol class="comment-list">

                <div>
                  <% for (var prop in listComments ) { %>
                    <li class="comment even thread-even" id='comment-<%=listComments[prop].id%>'>
                      <article class="comment-body">
                        <div class="author-photo main"> <a href="/images/use_img/avatar-370.png" class="avatar">
                            <img class="avatar" src="/images/use_img/avatar-370.png" alt=""></a> </div> <br>
                        <h4 class="fn"><a href="/users/user-detail/<%=listComments[prop].user%>"> &emsp;
                            <%=listComments[prop].fullname%>
                          </a>
                          <div>
                            <% if (isAuthenticated) { %>
                              <% if (classDetail.classTeachers.indexOf(username) !=-1 || admin) { %>
                                <i onclick="deleteComment('<%=listComments[prop].id%>')"
                                  class="glyphicon glyphicon-trash pull-right" style="margin-right: 30px;"></i>
                                <% } } %>
                          </div>
                          &emsp; <%=listComments[prop].createDate%>
                        </h4>
                        <h4>
                          <%=listComments[prop].text%>
                        </h4>

                        <hr width="99%" size="10px" align="center" />

                        <a onclick="showComment('listReply-<%=listComments[prop].id%>')"
                          id="numberOfComment-<%=listComments[prop].id%>">
                          <%=listComments[prop].reply.length%> bình luận về bài viết
                        </a> <br>

                        <div id="listReply-<%=listComments[prop].id%>" class='reply-comment' style="display: none;">
                          <% for (var k in listComments[prop].reply ) { %>
                            <div>
                              <div class="author-photo"> <a href="/images/use_img/avatar-370.png" class="avatar">
                                  <img class="avatar" src="/images/use_img/avatar-370.png" alt=""></a> </div> <br>
                              <span class="fn"><a href="/users/user-detail/<%=listComments[prop].reply[k].user%>">
                                  &emsp;
                                  <b>
                                    <%=listComments[prop].reply[k].fullname%>
                                  </b>
                                </a> &ensp; <%=listComments[prop].reply[k].createDate%> <br>
                                  &emsp; <%=listComments[prop].reply[k].text%>
                              </span>
                            </div>
                            <% } %>
                        </div>
                        <br>
                        <% if (isAuthenticated) { %>
                          <% if (classDetail.classTeachers.indexOf(username) !=-1 || admin ||
                            classDetail.classStudents.indexOf(username) !=-1) { %>
                            <span style="margin-left:30px">
                              <textarea id="<%=listComments[prop].id%>" placeholder='Để lại bình luận của bạn tại đây'
                                style="width: 96%"></textarea>
                              <button onclick="replyComment('<%=listComments[prop].id%>')"
                                class="btn btn-default pull-right" style="margin-right:30px; margin-bottom:10px">
                                Gửi </button>
                            </span>
                            <% } } %>
                      </article>
                    </li> <br> <br>
                    <% } %>
                </div>

              </ol>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>

  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>

  <script src="/js/theme.js"></script>

  <script type="text/javascript" src="/vendor/fancybox/js/jquery.fancybox.js"></script>
  <script type="text/javascript" src="/vendor/fancybox/js/custom.fancybox.js"></script>

  <script>
    jQuery.noConflict();
    jQuery('.fancybox').fancybox();
  </script>

  <script>
    function showComment(idComment) {
      var x = document.getElementById(idComment);
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }
  </script>

  <script>
    function deleteComment(idComment) {
      console.log("CLICKED delete comment")
      console.log(idComment)
      const data = {
        idComment: idComment
      }
      var r = confirm("Do you want to delete comment ?");
      if (r == true) {
        jQuery.ajax({
          url: "/comments/delete/" + idComment,
          method: "DELETE",
          data: data,
          success: (res) => {
            console.log(res)
            alert(res)
            document.getElementById("comment-" + idComment).remove();
          }
        })
      }
    }
  </script>

  <script>
    function replyComment(idComment) {
      const text = document.getElementById(idComment).value;
      console.log(text)
      const data = {
        comment: text,
        idComment: idComment
      }
      if (text != "") {
        jQuery.ajax({
          url: "/comments/reply-comment/" + idComment,
          method: "POST",
          data: data,
          success: (res) => {
            console.log(res);
            const n = res.reply.length
            const newReply = res.reply[n - 1]
            jQuery('#' + idComment).val("");
            jQuery('#numberOfComment-' + idComment).text(n + " bình luận về bài viết")
            // document.getElementById('#' + idComment).defaultValue
            jQuery('#listReply-' + idComment).append("<div>\
                <div class='author-photo'> <a href='/images/use_img/avatar-370.png' class='avatar'>\
                <img class='avatar' src='/images/use_img/avatar-370.png'></a> </div> <br>\
                <span class='fn'><a href='/users/user-detail/" + newReply.user + "'>&emsp;\
                <b> " + newReply.fullname + " </b>\
                </a> &ensp; " + newReply.createDate + " <br>\
                &emsp; " + newReply.text + "\
                </span> </div>"
            )
          }
        })
      }
    }
  </script>

  <script>
    /* When the user clicks on the button, 
    toggle between hiding and showing the dropdown content */
    function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
    }
    // Close the dropdown if the user clicks outside of it
    window.onclick = function (event) {
      if (!event.target.matches("#buttonAddExercise")) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }
  </script>

</body>

</html>